.user-components__group img {
  width: 25px;
  height: 25px;
}

.user-components__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user-components__group img:nth-child(1),
.user-components__group img:nth-child(2) {
  margin-bottom: 5px;
}

.user-components__group img:nth-child(2),
.user-components__group img:nth-child(4) {
  margin-left: -8px;
}

.chats-screen .user-components__column {
  padding: 5px;
}

.chats-screen .user-components {
  margin-bottom: 5px;
}

.chats-screen .user-components__column img {
  border-radius: 1rem;
}

.chats-screen .user-components__title {
  font-size: 1rem;
}

.chats-screen .user-components:hover {
  position: relative;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}

.chats-screen .user-components:hover::after {
  background-image: url("img/water.jpg");
  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  border-radius: 10px;
  content: "";
}
