#bg-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

#bg-image::after {
  position: absolute;
  top: 0;
  background-image: url("img/friend-bg.PNG");
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.6;
  z-index: -5;
}

.friends-screen .user-components {
  flex-direction: column;
}

.friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  margin-bottom: 10px;
}

.friends-display__text {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}

.friends-display-link i {
  opacity: 0.5;
  font-size: 1.2rem;
}

.friends-display-link i:nth-child(1) {
  margin-right: 5px;
}

.friends-display-link i:nth-child(3) {
  margin-left: 13px;
}
/* 
.friends-screen {
  margin: 0px var(--horizontal-space);
} */

.friedns-screen__channel-header {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 20px 0px;
  padding-top: 11px;
}

.friends-screen__channel .user-components__column {
  margin-bottom: 10px;
  padding: 0.5rem;
}

.friends-screen__channel .user-components__column:hover {
  position: relative;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}

.friends-screen__channel .user-components__column:hover::after {
  background-image: url("img/water.jpg");
  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  border-radius: 10px;
  content: "";
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  background-color: var(--blue);
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 4s;
  z-index: 101;
}

@keyframes spinstar {
  from {
  }

  to {
    transform: rotate(1turn);
  }
}

#splash-screen img {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  animation: spinstar 0.1s ease-in-out infinite;
}

.loading {
  display: flex;
  margin-top: 7rem;
  margin-left: 1rem;
  align-items: center;
}

@keyframes loading {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-50px);
  }
}

.loading div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: white;
  animation: loading 2s ease-in-out infinite;
}

.loading div:nth-child(2) {
  animation-delay: 0.4s;
}

.loading div:nth-child(3) {
  animation-delay: 0.8s;
}

.loading div:nth-child(4) {
  animation-delay: 1.2s;
}
.loading div:nth-child(5) {
  animation-delay: 1.6s;
}
