.more-screen .user-components__avatar {
  padding: 0px;
  width: 100px;
  height: 100px;
  background: none;
  border: none;
}

.more-screen .user-components__subtitle {
  margin-top: 10px;
}

.store__contents {
  margin-top: 2.5rem;
}

.store__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  color: tomato;
  font-size: 1.5rem;
}

.store__img {
  margin-top: 1.1rem;
  display: flex;
}

.store__img img {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 200px;
}

.store__caption {
  position: absolute;
  z-index: 100;
  font-size: 1.2rem;
  text-shadow: 1px 1px black;
  padding: 3px;
  right: 40px;
}

.store__menu {
  margin-top: 2rem;
  /* background-color: #e1ce96; */
  background-image: linear-gradient(50deg, #e3d098, #67511e);
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px #67511e;
}

.store__menu,
.menu {
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker", cursive;
}

.menu {
  margin: 0.5rem 0 0.5rem 2rem;
}

.menu span {
  margin: 0.3rem 0;
}

.store__menu h1 {
  font-size: 1.5rem;
}

/* .icon-row {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.icon-row__two {
  display: flex;
  margin-top: 30px;
  padding-bottom: 25px;
  margin-left: 12px;
}

.icon-row__two .icon-row__icon:nth-child(2) {
  margin-left: 95px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 25px;
  margin-bottom: 15px;
}

.border-bottom {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.suggestions-column {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}
.suggestions-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.suggestions-photo img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.suggestions-photo span {
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.7;
} */

.fa-exclamation-circle {
  color: tomato;
}
