#no-mobile {
  position: absolute;
  z-index: 1000;
  height: 150vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#no-mobile p {
  margin-bottom: 20rem;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
