.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 55px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons i {
  margin-left: 17px;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
}

.settings-header span {
  font-size: 20px;
  font-weight: 600;
}

@keyframes facogspin {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: facogspin 1s linear infinite;
}
